@import "../../styles//colors.scss";

.tuPartner {
  background-color: $GRIS_CLARO;
  .container {
    padding-bottom: 32px;
    padding-top: 16px;
    height: 100%;
    width: 998px;
    margin: auto;

    .content {
      display: flex;
      justify-content: space-between;

      .left {
        width: 419px;
        h1 {
          padding-top: 47px;
          font-size: 52px;
          color: $NEUTRO_TITULARES;
          line-height: 56px;
          padding-bottom: 24px;
        }
        p {
          font-size: 22px;
          line-height: 32px;
          font-weight: 300;
          color: $NEUTRO_BODYCOPY;
          padding-bottom: 24.16px;
          strong {
            font-weight: 500;
          }
        }
      }
      .right {
        display: flex;
        justify-content: center;
        img {
          width: 640px;
        }
      }
    }
    .control {
      display: flex;
      position: relative;
      margin-top: 115px;
      justify-content: space-between;
      button {
        font-weight: bold;
      }
      .cuentanosSlide {
        position: relative;
        .formDiv {
          position: absolute;
          bottom: -88px;
          right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1188px) {
  .tuPartner {
    .container {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 1vw;
      .content {
        flex-direction: column;
        align-items: center;
        gap: 2%;
        .left {
          width: 90%;
          min-width: 360px;
          padding: 0 30px;
        }
        .right {
          width: 64%;
          min-width: 360px;
          img {
            width: 100%;
          }
        }
      }
      .control {
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
        margin-top: unset;
        .cuentanosSlide {
          .formDiv {
            bottom: -5px;
            right: -5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .tuPartner {
    .container {
      .content {
        gap: 30px;
        .left {
          width: 90%;
          min-width: 360px;

          h1 {
            font-size: 32px;
            line-height: 32px;
            font-weight: 400;
          }
          p {
            font-size: 16px;
            line-height: 26px;
          }
        }
        .right {
          width: 90%;
          min-width: 360px;
          img {
            width: 90%;
            min-width: 295px;
            margin-bottom: -17%;
          }
        }
      }
      .control {
        justify-content: space-between;
        width: 100%;
        padding: 0;
        button:nth-child(1) {
          display: none;
        }
        .cuentanosSlide {
          width: 100%;
          > button {
            font-size: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 22vw;
            min-height: 125px;
            align-items: flex-start;
            padding-top: calc(8px + 4%);
            margin-bottom: -55px;
            z-index: 999;
          }
          .formDiv {
            width: 100%;
            right: 0;
            bottom: -54px;
            > div {
              width: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;

              h3 {
                padding-top: 64px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .tuPartner {
    .container {
      .control {
        position: relative;
        .cuentanosSlide {
          position: static;
          .formDiv {
          }
        }
      }
    }
  }
}
