.container-opened {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navBar {
  width: 100%;
  background-color: #f5f3ff;

  .nav-container {
    display: flex;
    background-color: #f5f3ff;
    width: 1186px;
    height: 90px;
    margin: 0 auto;

    .nav-lang {
      display: flex;
      width: 94px;
      justify-content: flex-end;

      .lang {
        background-color: inherit;
        line-height: 13.2px;
        font-size: 11px;
        font-weight: 400;
        align-self: center;
        position: relative;
        color: #6c30eb;
        border: none;
        font-family: "Stolzl";
        text-align: center;
        .langList li {
          // TODO Style  Onhover or click to show acordingly all Langs, ask Designer
          display: none;
          &.active {
            display: inherit;
          }
        }

        &::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 77%;
          bottom: -2px;
          left: 4px;
          background-color: #6c30eb;
        }
      }
    }
  }
}
.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  width: 82%;
  justify-content: space-evenly;
  // a{
  //   p:nth-child(1){
  //     color: rgb(20, 45, 203);
  //   }
  // }
}

.nav-links {
  color: #1f0742;
  text-decoration: none;
  height: 100%;

  .nav-links-wrapper {
    display: flex;
    flex-direction: column;

    :nth-child(1) {
      font-size: 16px;
      line-height: 40px;
    }
    :nth-child(2) {
      display: none;
    }
  }
}

.nav-item {
  line-height: 40px;
  transition: all 0.4s ease-in-out;
  text-align: right;
  width: 100%;
  :hover,
  :active &.active {
    font-weight: 500;
  }
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -210%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    height: 739.7px;
    // height: 100vh;
    background: #20045d;
    padding-top: 100px;
    top: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 8;

    // a{
    //   p:nth-child(2){
    //     color: red;
    //     display: block;
    //     font-size: 11px;
    //   }
    // }
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
    width: 100%;
  }
  .nav-links {
    color: white;
    display: flex;

    margin: 7.43px 0 30.46px;
    padding-left: 50px;
    width: 100%;
    .nav-links-wrapper {
      display: none;
    }

    .nav-links-wrapper.active {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      :nth-child(1) {
        font-size: 22px;
      }
      :nth-child(2) {
        display: block;
        font-size: 11px;
      }
    }
  }

  .nav-icon {
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
    .times {
      display: flex;
      flex-direction: column;
      span {
        width: 50px;
        color: white;
        height: 4px;
        margin-top: 5px;
      }
    }
  }

  .nav-logo.active {
    svg {
      width: 167px;
      height: 42px;
      color: white;
      padding-left: 50px;
      path {
        fill: white;
      }
    }
  }
  .navBar {
    .nav-container {
      position: relative;

      .nav-lang {
        display: none;
      }

      .nav-lang.active {
        display: flex;

        z-index: 10;
        position: absolute;
      }

      .lang {
        background-color: inherit;
        line-height: 13.2px;
        font-size: 11px;
        font-weight: 400;
        align-self: center;
        position: relative;
        color: #e9e8ec;
        border: none;
        font-family: "Stolzl";
        text-align: center;
        .langList li {
          // TODO Style  Onhover or click to show acordingly all Langs, ask Designer
          display: none;
          &.active {
            display: inherit;
          }
        }

        &::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 77%;
          bottom: -2px;
          left: 4px;
          background-color: #6c30eb;
        }
      }
    }
  }
}
