@import "../../../styles//colors.scss";

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;

  &.arrowRight {
    svg {
      transform: rotate(-90deg);
    }
  }
  &.colorText {
    color: $BLANCO;
  }
  .arrow {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #6c30eb;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    align-items: center;
    box-shadow: 1px 24px 31px -14px rgb(0 0 0 / 87%);
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #7942ee;
    }
  }
}
