$NEUTRO_TITULARES: #1f0742;
$MORADO_FRIO: #6c30eb;
$MORADO_FRIO2 : #5012d7;
$NEUTRO_BODYCOPY: #655e79;
$XXX: #8881b4;
$NEUTRO_TITULARES: #1f0742;
$AZUL_MARINO : #370087;
$BLANCO : #FFFFFF;
$VERDE : #00EAC5;
$MORADO : #282240;
$MORADO_CLARO : #d1ccff;
$GRIS_CLARO : #f5f3ff;
$PINK : #d830eb;
$PINK2: #eb30bf;
$CENIZA_CLARO :  #fcfcfc;

